fastapi==0.95.2
uvicorn==0.21.1
boto3==1.26.96
supabase==1.0.2
pydantic==1.10.6
python-dotenv==1.0.0
SQLAlchemy==2.0.7
jinja2==3.1.2
python-dotenv==1.0.0
google-auth-oauthlib
google-api-python-client==2.82.0
itsdangerous==2.1.2
fastapi-cache2[redis]==0.2.1